<%- include('layout/header.ejs') %>

<div class="main">
    <div class="container">
        <div class="content">
            <div class="post">
                <h2>You can monitor the weather in any city as a registered or logged in user</h2>
            </div>

        </div>
        <%- include ('layout/sidebar.ejs') %>
    </div>
</div>


<%- include ('layout/footer.ejs') %>
